<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="hotel" connectionString="Data Source=103.21.58.192;Initial Catalog=Hotel_App;User ID=HOTEL;Password=Pioneer000!@#" providerName="Data.SqlClient" />
    <add name="EYE_EMR_DBConnectionString" connectionString="Data Source=102.21.58.192;Initial Catalog=Hotel_App;User ID=HOTEL;Password=Pioneer000!@#" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
